@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Cignium Recruiter</h1>
    <p>This is my solution to the challenge to calculate the premium value</a>. Please <a class="nav-link" asp-controller="Calculator" asp-action="Index">click here</a> or select menu option "Calculator"</p>
</div>
